*{
    margin: 0;
    padding:0;
}

body
{
   overflow: hidden;
}

.gamecontainer
{
    background-image: url(bg.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}

.gameover
{
    color:rgb(248, 157, 157);
    height: 200px;
    width: 600px;
    font-size: 60px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 50px;
    left:35vw;

}

.hero
{
    background-image: url(hero2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 150px;

}

.villain
{
    background-image: url(villain2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 125px;
    height: 125px;
    position: absolute;
    bottom: 50px;
    left: 800px;

}

#score
{
    color:brown;
    font-size: 20px;
    text-align:left;
    text-align: top;
    position: absolute;
    top: 10px;

}

.heroanimation
{
    animation: heroani .8s linear;
}

@keyframes heroani
{
    0%{
          bottom: 50px;
    }
    50%{
          bottom: 300px;
    }
    100%{
          bottom:50px;
    }
}

.villainanimation
{
    animation: villainani 3s linear infinite;
}

@keyframes villainani {
    0%{
        left:100vw;
    }
    100%{
         left: -20vw;
    }
    
}